@media (max-width: 1199px) {
  .custom-display-for-plus-minus {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .btn-add-to-basket {
    width: 100% !important;
    margin: 0 !important;
  }
  button.plus {
    margin-right: 0;
  }
  button.minus, button.plus {
    width: 40%;
  }
  /* Variation add to cart wrapper */
  .woocommerce-variation-add-to-cart {
    display: block !important;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .custom-container-padding {
    padding-top: 50px;
  }
  #form_contact .dynamic-width {
    width: 100%;
  }
}
@media (min-width: 1390px) {
  /* change this, by default 1140px */
  .container {
    max-width: 1360px;
  }
}